assignment/WebConsumer/web/WEB-INF/wsdl/localhost_8080/WebentAssignment01-war/ListBookService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><xs:schema xmlns:tns="http://service.example.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://service.example.com/">

<xs:element name="FindByCode" type="tns:FindByCode"/>

<xs:element name="FindByCodeResponse" type="tns:FindByCodeResponse"/>

<xs:element name="FindByName" type="tns:FindByName"/>

<xs:element name="FindByNameResponse" type="tns:FindByNameResponse"/>

<xs:element name="ListBook" type="tns:ListBook"/>

<xs:element name="ListBookResponse" type="tns:ListBookResponse"/>

<xs:element name="UpdateStatusBook" type="tns:UpdateStatusBook"/>

<xs:element name="UpdateStatusBookResponse" type="tns:UpdateStatusBookResponse"/>

<xs:element name="books" type="tns:books"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:complexType name="FindByName">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="FindByNameResponse">
<xs:sequence>
<xs:element name="return" type="tns:books" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="books">
<xs:sequence>
<xs:element name="bookauthor" type="xs:string" minOccurs="0"/>
<xs:element name="bookcode" type="xs:string" minOccurs="0"/>
<xs:element name="bookdescrip" type="xs:string" minOccurs="0"/>
<xs:element name="bookid" type="xs:int" minOccurs="0"/>
<xs:element name="bookname" type="xs:string" minOccurs="0"/>
<xs:element name="bookstatus" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ListBook">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="ListBookResponse">
<xs:sequence>
<xs:element name="return" type="tns:books" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="UpdateStatusBook">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="UpdateStatusBookResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="FindByCode">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="FindByCodeResponse">
<xs:sequence>
<xs:element name="return" type="tns:books" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>