assignment/WebConsumer/src/conf/xml-resources/web-service-references/ListBookService/wsdl/localhost_8080/WebentAssignment01-war/ListBookService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.example.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.example.com/" name="ListBookService">
<types>
<xsd:schema>
<xsd:import namespace="http://service.example.com/" schemaLocation="http://localhost:8080/WebentAssignment01-war/ListBookService?xsd=1"/>
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="ListBook">
<part name="parameters" element="tns:ListBook"/>
</message>
<message name="ListBookResponse">
<part name="parameters" element="tns:ListBookResponse"/>
</message>
<message name="UpdateStatusBook">
<part name="parameters" element="tns:UpdateStatusBook"/>
</message>
<message name="UpdateStatusBookResponse">
<part name="parameters" element="tns:UpdateStatusBookResponse"/>
</message>
<message name="FindByCode">
<part name="parameters" element="tns:FindByCode"/>
</message>
<message name="FindByCodeResponse">
<part name="parameters" element="tns:FindByCodeResponse"/>
</message>
<message name="FindByName">
<part name="parameters" element="tns:FindByName"/>
</message>
<message name="FindByNameResponse">
<part name="parameters" element="tns:FindByNameResponse"/>
</message>
<portType name="ListBookService">
<operation name="hello">
<input wsam:Action="http://service.example.com/ListBookService/helloRequest" message="tns:hello"/>
<output wsam:Action="http://service.example.com/ListBookService/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="ListBook">
<input wsam:Action="http://service.example.com/ListBookService/ListBookRequest" message="tns:ListBook"/>
<output wsam:Action="http://service.example.com/ListBookService/ListBookResponse" message="tns:ListBookResponse"/>
</operation>
<operation name="UpdateStatusBook">
<input wsam:Action="http://service.example.com/ListBookService/UpdateStatusBookRequest" message="tns:UpdateStatusBook"/>
<output wsam:Action="http://service.example.com/ListBookService/UpdateStatusBookResponse" message="tns:UpdateStatusBookResponse"/>
</operation>
<operation name="FindByCode">
<input wsam:Action="http://service.example.com/ListBookService/FindByCodeRequest" message="tns:FindByCode"/>
<output wsam:Action="http://service.example.com/ListBookService/FindByCodeResponse" message="tns:FindByCodeResponse"/>
</operation>
<operation name="FindByName">
<input wsam:Action="http://service.example.com/ListBookService/FindByNameRequest" message="tns:FindByName"/>
<output wsam:Action="http://service.example.com/ListBookService/FindByNameResponse" message="tns:FindByNameResponse"/>
</operation>
</portType>
<binding name="ListBookServicePortBinding" type="tns:ListBookService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ListBook">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="UpdateStatusBook">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="FindByCode">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="FindByName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ListBookService">
<port name="ListBookServicePort" binding="tns:ListBookServicePortBinding">
<soap:address location="http://localhost:8080/WebentAssignment01-war/ListBookService"/>
</port>
</service>
</definitions>